/*--------------------------------------------------------------
# 404
--------------------------------------------------------------*/
.error-page-block {
    background: #020312;
    .error-content {
        background-color: rgba(29, 33, 36, 0.3);
        box-shadow: 0px 6px 80px 0px rgba(0, 0, 0, 0.15);
        padding: 75px;
	}
	.error-title {
		font-weight: 300;
	}
	.error-main {
		font-size: 230px;
		font-weight: 100;
		@media only screen and (max-width: 992px) {
			font-size: 130px;
		}
	}
	.error-home-btn {
		border-radius: 30px;
		&:hover,
		&:focus {
			color: #ffffff !important;
		}
	}
}
