.post-list {
	box-shadow: 0px 5px 26px 0px rgba(0, 0, 0, 0.06);
	background: $white;
	overflow: hidden;
	display: table;
	width: 100%;
	margin-bottom: 30px;
	.post-thumb {
		width: 202px;
		display: table-cell;
		margin-bottom: 0;
	}
	.post-content {
		display: table-cell;
		padding: 25px;
		vertical-align: middle;
	}
	.entry-title {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	.more-link i {
		margin-left: 10px;
	}
}

.post-ver-bg {
	.post-thumb {
		color: $snow;
		display: table;
		width: 100%;
		height: 526px;
		.post-content {
			padding: 45px;
			display: table-cell;
			vertical-align: bottom;
		}
	}
	.entry-title {
		color: $white;
	}
}

/*--------------------------------------------------------------
## Blog Page Post 
--------------------------------------------------------------*/
.blog-page-block {
	background: #0d0f16;
}
.blog-page-content {
	@media only screen and (min-width: 992px) {
		padding-right: 30px;
	}	
	.post {
		background-color: #12141c;
		box-shadow: 0px 6px 80px 0px rgba(0, 0, 0, 0.15);
		margin-bottom: 60px;
		> em {
			font-style: normal;
			font-weight: normal;
			> strong {
				font-weight: normal;
			}
		}
		&.sticky h2.entry-title:after {
			content: "\f08d";
			font-family: 'Font Awesome\ 5 Free';
			font-weight: 600;
		    color: #2a3138;
		    position: absolute;
		    right: -22px;
		    transform: rotate(45deg);
		    top: -30px;
		    font-size: 25px;
		    @media only screen and (max-width: 767px) {
		    	top: -18px;
		    	right: -12px;
		    }
		}
	}
	> article {
		background-color: $white;
		box-shadow: 0px 6px 80px 0px rgba(0, 0, 0, 0.06);
		margin-bottom: 75px;
	}
	.entry-thumb {
		margin-bottom: 0;
		img {
			display: block;
			margin: auto;
		}
	}
	&:not(.blog-single-page) {	
		.entry-content {
			padding: 60px;
			position: relative;
			@media only screen and (max-width: 767px) {
				padding: 30px;
			}
			> p:last-of-type {
				margin-bottom: 0;
			}
			> p {
				opacity: 1;
			}
			> ul,
			> ol {
				padding-left: 20px;
				li {
					padding-top: 15px;
					line-height: 1.75em;
				}
				.more-link {
					margin-left: -20px;
					font-style: normal;
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			.page-links:last-of-type {
				margin-bottom: 0;
				margin-top: 30px;
			}
			.page-links {
				span {
					border: 1px solid rgba(255, 255, 255, 0.25);
				    display: inline-block;
				    padding: 5px 12px;
				    color: rgba(255, 255, 255, 0.55);
				}
				> span {
					font-weight: bold;
				}
			}
		}
		.entry-title {
			color: #fff;
			margin-bottom: 20px;
			margin-top: -6px;
			position: relative;
			font-weight: 500;
		}
		.more-link {
			display: table;
			margin-top: 30px;
			box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.2);
			padding: 15px 30px;
		    font-weight: 400;
		    background: rgba(52, 58, 64, 0.65);
		    color: #ffffff;
		    border-radius: 30px;
		    transition: all 0.35s ease-in-out;
			i {
				margin-left: 10px;
				font-size: 10px;
			}
			&:hover {
				color: rgba(255,255,255,1);
			}
		}
	}
}
.order-last {
	.blog-page-content {
		@media only screen and (min-width: 992px) {
			padding-right: 15px;
			padding-left: 45px;
		}
	}
}
.entry-content .page-links {
	span {
		border: 1px solid rgba(255, 255, 255, 0.25);
	    display: inline-block;
	    padding: 5px 12px;
	    color: rgba(255, 255, 255, 0.5);
	}
	> span {
		font-weight: bold;
	}
}