header.woocommerce-products-header {
	width: 100%;
	margin-bottom: 45px;
}
.woocommerce ul.products {
	padding: 0 !important;
}
.woocommerce-MyAccount-navigation {
	float: none !important;
	width: 100% !important; 
	ul {
		padding-left: 0;
		margin-bottom: 30px;
		list-style: none;
		li {
			display: inline-block;
			margin-top: 0 !important;
			a {
				padding: 12px 25px;
				display: inline-block;
				color: #fff;
			}
		}
	}
}
.woocommerce-MyAccount-content {
	float: none !important;
	width: 100% !important;
}
.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1 {
    max-width: 48%;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
	max-width: 48%;
}
.woocommerce .col2-set, 
.woocommerce-page .col2-set {
	margin: 0 -15px;
}
.woocommerce-form-row {
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		border: 1px solid #ccc;
		padding: 10px 15px;
		margin-bottom: 5px;
	}
}
button[name="save_account_details"] {
	padding: 15px 35px !important;
	margin-top: 15px !important;
	margin-left: 1px !important;
}
.woocommerce-ordering select {
	border: 1px solid rgba(52, 58, 64, 0.65);
	padding: 8px 10px;
	background: transparent;
	color: $white;
	option {
		background: rgba(52, 58, 64, 1);
	}
}
.woocommerce {
	ul.products {
		text-align: center;
	}
	ul.products li.product .star-rating {
		margin-left: auto;
		margin-right: auto;
	}
	ul.products li.product .button {
		font-weight: 400;
		background: rgba(52, 58, 64, 0.65);
		border: 1px solid rgba(52, 58, 64, 0.65);
		border-radius: 30px;
		padding: 10px 25px;
		color: $white;
		font-size: 13px;
	}
	ul.products li.product .price {
		color: #c1c1c1;
		font-size: 1.1em;
	}
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3 {
	font-size: 1.12em;
}
.woocommerce .woocommerce-ordering {
	margin-bottom: 3em;
}
.woocommerce nav.woocommerce-pagination ul {
	border: 0 none;
	li {
		border-right: 0 none;
		overflow: visible; 
		> * {
			margin-right: 10px !important;
			margin-bottom: 10px !important;
			color: #999;
			background: rgba(52, 58, 64, 0.65);
			padding: 4px 10px;
			line-height: 37px !important;
			font-size: 0.875rem;
			font-weight: 500;
			display: block;
			min-width: 50px !important;
			min-height: 50px !important;
			border-radius: 50%;
			text-align: center;
			transition: all 0.45s ease-in-out;
		} 
		> span.current {
			margin-top: 0 !important;
		    color: white !important;
		    -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.14);
		    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.14);
		}
	}
}
.woocommerce table.shop_table td,
.woocommerce table.shop_table th {
	border-top: 0 none !important;
	border-left: 0 none !important;
	border-right: 0 none !important;
}
.woocommerce-cart-form {
	#coupon_code {
		min-width: 120px;
	}
	button[name="apply_coupon"] {
		height: 33px;
		color: #fff;
	}
}
.woocommerce table td {
	border-bottom: 0 none;
}
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale {
	font-size: 13px;
	min-width: 3.6em;
	letter-spacing: 0.010em;
}
.form-row {
	input, textarea {
		border: 1px solid #ccc;
		padding: 10px;
	}
	.woocommerce-input-wrapper {
		display: block;
		width: 100%;
	}
}
.shop_table .order-total th,
.shop_table .order-total td {
	border-bottom: 0 none !important;
}
.order_details {
	tfoot tr:last-child {
		th, td {
			border-bottom: 0 none !important;
		}
	}
}
.woocommerce-orders-table {
	tbody tr:last-of-type {
		th, td {
			border-bottom: 0 none !important;
		}
	}
}
.woocommerce-breadcrumb {
	display: none;
}

.woocommerce-single-content {
	padding-top: 45px !important;
	.product_title.entry-title {
		margin-bottom: 15px !important;
	}
	input[type="number"] {
		padding: 10px;
		height: 45px;
		display: inline-block;
	}
	.single_add_to_cart_button {
		padding: 14px 28px !important;
		font-weight: 400 !important;
		height: 45px;
		line-height: 1.35 !important;
	}
	.product_meta {
		> span {
			display: block;
			margin-top: 10px;
			font-weight: 500;
			> * {
				font-weight: 400;
			}
		}
	}
	.entry-summary .price {
		color: inherit !important;
		font-weight: 500;
	}
	.woocommerce-tabs.wc-tabs-wrapper {
		overflow: hidden;
		padding-top: 30px;
		margin-bottom: 15px;
	}
	.woocommerce-tabs ul.tabs {
		padding-left: 0 !important;
		margin-left: -5px !important;
		&:before {
			visibility: hidden;
		}
		li {
			border: 0 none !important;
			background: transparent !important;
			&:before,
			&:after {
				visibility: hidden;
			}
			&.active {
				a {
					color: #fff !important;
					padding: 10px 23px !important;
					letter-spacing: 0.015em;
				}
			}
		}
	}
	#review_form {
		.comment-reply-title {
			margin-bottom: 15px;
			display: block;
		}
		.row.contactform {
			margin: 0;
			.form-submit {
				text-align: left;
				input[type="submit"] {
					padding: 15px 40px !important; 
					border-radius: 30px !important;
				}
			}
			.comment-form-rating {
				display: block;
				width: 100%
				label {
					display: block;
				}
			}
			input,
			textarea {
				border: 1px solid #ccc;
				padding: 8px 15px;
			}
			.comment-form-comment,
			.comment-form-author,
			.comment-form-email {
				display: block;
				width: 100%;
				margin-bottom: 22px !important;
				label {
					display: block;
				}
			}
		}
	}
	.woocommerce-Tabs-panel {
		> h2 {
			font-size: 25px;
		}
	}
	.related.products {
		> h2 {
			font-size: 25px;
		}
	}
}
.woocommerce-cart-form__cart-item {
	input[type="number"] {
		border: 1px solid #ccc;
		padding: 5px;
	}
}

.blog-single-page {
	.entry-content.woocommerce-single-content {
		padding: 0 !important;
	}
}

.woocommerce-single-content input[type="number"] {
	background: #12141c;
	color: #fff;
	border-color: #27282d;
}

.woocommerce-product-gallery__trigger {
	background: #12141c !important;
	color: #fff !important;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger:before {
	border-color: #fff !important;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger:after {
	background: #fff !important;
}

.woocommerce-product-gallery .flex-viewport {
	margin-bottom: 20px;
}

.woocommerce-product-gallery {
	.flex-control-thumbs {
		margin-left: -10px !important;
		margin-right: -10px !important;
		> li {
			padding: 10px;
			display: inline-block;
		}
	}
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #989898
}
.woocommerce .star-rating::before {
	color: #5d5d5d;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	background: #12141c !important;
	color: #fff;
}
.woocommerce-notices-wrapper {
	.button.wc-forward {
		background: #0d0f16 !important;
		color: #fff !important;
	}
	li {
		margin-top: 0 !important;
	}
}

.woocommerce-Reviews {
	.select-wrapper::before {
		display: none;
	}
	.comment-form-comment {
		#comment {
			background: #12141c;
			color: #fff;
			border-color: #27282d !important;
		}
	}
	form {
		input[type="text"],
		input[type="email"] {
			background: #12141c;
			color: #fff;
			border-color: #27282d !important;
		}
	}
	p.stars {
		margin-bottom: 0 !important;
	}
}
.woocommerce #review_form #respond .form-submit input {
	color: #fff;
}

.woocommerce-Reviews {
	padding: 45px;
    background-color: #12141c;
	ol.commentlist {
		padding: 0;
	}
	.woocommerce-Reviews-title {
		margin-bottom: 30px;
	}
	.comment-text {
		border-color: #27282d !important;
		padding: 20px 20px 0 !important;
		border-radius: 0;
		.woocommerce-review__author {
			font-size: 16px;
    		color: #fff;
		}
	}
	#review_form_wrapper {
		margin-top: 30px;
	}
}

.summary.entry-summary {
	.product_title.entry-title {
		color: #fff !important;
	}
}
.woocommerce-cart-form__cart-item.cart_item {
	.quantity {
		input[type="number"] {
			background-color: #12141c;
			border-color: #27282d;
			color: #fff;
			display: inline-block;
		}
	}
}
.woocommerce-cart-form {
	.coupon {
		#coupon_code {
			background-color: #12141c;
			border-color: #27282d;
			color: #fff;
		}
	}
}
.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea,
.woocommerce .select2-container--default .select2-selection--single,
.select2-dropdown,
.select2-search__field {
	background-color: #12141c;
	border-color: #27282d !important;
	color: #fff;
}
.woocommerce-input-wrapper {
	.select-wrapper:before {
		display: none;
	}
}
.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register {
	border-color: #27282d !important;
}
.woocommerce form.checkout_coupon {
	.button {
		height: 41px;
		color: #fff;
	}
}
.woocommerce-checkout-review-order .woocommerce-checkout-payment {
	background-color: #12141c !important;
	.payment_box {
		background-color: #020312 !important;
		color: #989898 !important;
		&:before {
			border-bottom-color: #020312 !important;
		}
	}
}
.woocommerce-checkout-review-order .wc_payment_methods {
	border-bottom: 1px solid #444444 !important;
}

.woocommerce-form-login,
.woocommerce-form-register {
	.button {
		margin-right: 15px !important;
		padding: 15px 30px !important;
		color: #fff !important;
	}
}

.woocommerce-checkout-payment {
	button.button {
		padding: 15px 30px !important;
	}
}
#order_review_heading {
	margin-top: 30px;
}

.woocommerce-MyAccount-navigation {
	ul > li {
		margin-left: 0 !important;
		margin-right: 15px;
		a {
			background: #12141c; 
		}
	}
}
.woocommerce-address-fields .button {
	padding: 15px 30px !important;
	margin-top: 15px !important;
}
.woocommerce table.my_account_orders .button,
.woocommerce-MyAccount-content .woocommerce-Button,
.woocommerce-address-fields .button {
	background: #12141c !important; 
	color: #fff !important;
}
.woocommerce-cart-form__contents .button:hover,
.woocommerce-cart-form .coupon button[name="apply_coupon"], .woocommerce-cart-form button[name="update_cart"] {
	color: #fff;
}