/*----------------------------------------------------------------------------------------------------------------------
Project:	    Selfer
Version:        1.0.0

Default Color   #f26c4f;
Background Color  #020312;

Body copy:		'Roboto', sans-serif; 14px;
Headers:		'Roboto', sans-serif;

----------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------
[Table of contents]

A. Basic Styling
  -- Styling

B. Helpers
  -- Animations
  -- Borders
  -- Colors
  -- Column Count
  -- Transitions
  -- Background
  -- Headings
  -- Height
  -- Margin
  -- No Gutter
  -- Opacity
  -- Overflow
  -- Padding
  -- Position
  -- Shadow
  -- Shape Mask
  -- Typography
  -- Title
  -- Transitions
  -- Utilities
  -- Width
  -- Z-Index

C. Components
  -- Block
  -- Blockquote
  -- Box
  -- Buttons
  -- Card
  -- Circle
  -- Forms
  -- Inputs
  -- Item
  -- List
  -- Map
  -- Hero
  -- Navbar
  -- Page
  -- Partners
  -- Plugins
  -- Price Box
  -- Progress
  -- Promo Numbers
  -- Select
  -- Slider
  -- Tabs
D. Plugins Styles
  -- Magnific Popup
  -- Owl Carousel

E. Template Specific Elements
  -- Price Box
  -- Other
  -- Story
----------------------------------------------------------------------------------------------------------------------*/

/***********************************************************************************************************************
A. Basic Styling
***********************************************************************************************************************/

/*-------------------------------------------
  -- Styling - Colors, Font Size, Font Family
-------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

html {
    font-size: 80%;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

.ts-h1 {
    font-size: 2.5rem;
}

.ts-h2 {
    font-size: 1.5rem;
}

.ts-h3 {
    font-size: 1.25rem;
    margin-bottom: 1.5625rem;
}

.ts-h4 {
    margin-bottom: 1.875rem;
}

.ts-h5 {
    font-size: 1.125rem;
}

.ts-h6 {
    font-size: 1rem;
}

/* NEW */

/***********************************************************************************************************************
B. Helpers
***********************************************************************************************************************/

/*-------------------------------------------
  -- Animations
-------------------------------------------*/

[data-animate] {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: .6s;
    animation-timing-function: ease;
}

/* Fade In Up */

@keyframes ts-fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 1.25rem, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInUp {
    animation-name: ts-fadeInUp;
}

/* Fade In Down */

@keyframes ts-fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -1.25rem, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInDown {
    animation-name: ts-fadeInDown;
}

/* Fade In Left */

@keyframes ts-fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-1.25rem, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInLeft {
    animation-name: ts-fadeInLeft;
}

/* Fade In Right */

@keyframes ts-fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(1.25rem, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ts-fadeInRight {
    animation-name: ts-fadeInRight;
}

/* Zoom In */

@keyframes ts-zoomIn {
    from {
        opacity: 0;
        transform: scale(.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.ts-zoomIn {
    animation-name: ts-zoomIn;
}

/* Zoom Out In */

@keyframes ts-zoomOutIn {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.ts-zoomOutIn {
    animation-name: ts-zoomOutIn;
}

/* Zoom In Short */

@keyframes ts-zoomInShort {
    from {
        opacity: 0;
        transform: scale(.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.ts-zoomInShort {
    animation-name: ts-zoomInShort;
}

/* -- Align */

.ts-align__vertical {
    display: flex;
    align-items: center;
}

/*-------------------------------------------
  -- Borders
-------------------------------------------*/

.ts-border-radius__sm {
    border-radius: .125rem;
    overflow: hidden;
}

.ts-border-radius__md {
    border-radius: .25rem;
    overflow: hidden;
}

.ts-border-radius__lg {
    border-radius: .5rem;
    overflow: hidden;
}

.ts-border-radius__xl {
    border-radius: .75rem;
    overflow: hidden;
}

.ts-border-radius__pill {
    border-radius: 6.25rem !important;
    overflow: hidden;
}

.ts-border-radius__round-shape {
    border-radius: 187.5rem;
    overflow: hidden;
}

.ts-border-none {
    border: none;
}

.ts-border-bottom {
    border-bottom: .0625rem solid rgba(0, 0, 0, .1);
}

.ts-border-muted {
    border-color: rgba(25, 25, 25, .1) !important;
}

.ts-border-transparent {
    border-color: rgba(0, 0, 0, 0) !important;
}

.ts-border-light {
    border-color: rgba(255, 255, 255, .2) !important;
}

.ts-font-color__white {
    color: #fff;
}

.ts-font-color__black {
    color: #000;
}

.ts-font-color__primary {
    color: #f26c4f;
}

.ts-bg-primary {
    background-color: #f26c4f;
}

.ts-column-count-1 {
    column-count: 1;
}

.ts-column-count-2 {
    column-count: 2;
}

.ts-column-count-3 {
    column-count: 3;
}

.ts-column-count-4 {
    column-count: 4;
}

/*-------------------------------------------
  -- Background
-------------------------------------------*/

[data-bg-image] {
    background-size: cover;
    background-position: 50%;
}

.ts-background {
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.ts-background .ts-background {
    height: 100%;
    width: 100%;
}

.ts-background-repeat {
    background-repeat: repeat;
    background-size: inherit;
}

.ts-background-repeat .ts-background-image {
    background-repeat: repeat;
    background-size: inherit;
}

.ts-background-image, .ts-img-into-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.ts-background-image img, .ts-img-into-bg img {
    display: none;
}

.ts-background-original-size {
    background-size: inherit;
}

.ts-background-size-cover {
    background-size: cover;
}

.ts-background-size-contain {
    background-size: contain;
}

.ts-background-repeat-x {
    background-repeat: repeat-x;
}

.ts-background-repeat-y {
    background-repeat: repeat-y;
}

.ts-background-repeat-repeat {
    background-repeat: repeat;
    background-size: inherit;
}

.ts-background-position-top {
    background-position: top;
}

.ts-background-position-center {
    background-position: center;
}

.ts-background-position-bottom {
    background-position: bottom;
}

.ts-background-position-left {
    background-position-x: left !important;
}

.ts-background-position-right {
    background-position-x: right !important;
}

.ts-background-particles {
    height: 120%;
    left: 0;
    margin-left: -10%;
    margin-top: -10%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 120%;
    z-index: 1;
}

.ts-background-is-dark {
    color: #fff;
}

.ts-background-is-dark .form-control {
    box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .2);
}

.ts-background-is-dark .form-control:focus {
    box-shadow: 0 0 0 .125rem rgba(255, 255, 255, .4);
}

.ts-background-is-dark .ts-btn-border-muted {
    border-color: rgba(255, 255, 255, .1);
}

.ts-video-bg {
    height: 100%;
}

.ts-video-bg .fluid-width-video-wrapper {
    height: 100%;
}

/*-------------------------------------------
  -- Height
-------------------------------------------*/

.ts-height__50px {
    height: 3.125rem;
}

.ts-height__100px {
    height: 6.25rem;
}

.ts-height__150px {
    height: 9.375rem;
}

.ts-height__200px {
    height: 12.5rem;
}

.ts-height__250px {
    height: 15.625rem;
}

.ts-height__300px {
    height: 18.75rem;
}

.ts-height__350px {
    height: 21.875rem;
}

.ts-height__400px {
    height: 25rem;
}

.ts-height__450px {
    height: 28.125rem;
}

.ts-height__500px {
    height: 31.25rem;
}

.ts-height__600px {
    height: 37.5rem;
}

.ts-height__700px {
    height: 43.75rem;
}

.ts-height__800px {
    height: 50rem;
}

.ts-height__900px {
    height: 56.25rem;
}

.ts-height__1000px {
    height: 62.5rem;
}

/*-------------------------------------------
  -- Margin
-------------------------------------------*/

.ts-mt__0 {
    margin-top: 0 !important;
}

.ts-mr__0 {
    margin-right: 0 !important;
}

.ts-mb__0 {
    margin-bottom: 0 !important;
}

.ts-ml__0 {
    margin-left: 0 !important;
}

/*-------------------------------------------
  -- No Gutters - Removes padding from col*
-------------------------------------------*/

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

/*-------------------------------------------
  -- Opacity
-------------------------------------------*/

.ts-opacity__5 {
    opacity: .05;
}

.ts-opacity__10 {
    opacity: .1;
}

.ts-opacity__20 {
    opacity: .2;
}

.ts-opacity__30 {
    opacity: .3;
}

.ts-opacity__40 {
    opacity: .4;
}

.ts-opacity__50 {
    opacity: .5;
}

.ts-opacity__60 {
    opacity: .6;
}

.ts-opacity__70 {
    opacity: .7;
}

.ts-opacity__80 {
    opacity: .8;
}

.ts-opacity__90 {
    opacity: .9;
}

/*-------------------------------------------
  -- Overflow
-------------------------------------------*/

.ts-overflow__hidden {
    overflow: hidden;
}

.ts-overflow__visible {
    overflow: visible;
}

/*-------------------------------------------
  -- Padding
-------------------------------------------*/

.ts-pt__0 {
    padding-top: 0 !important;
}

.ts-pr__0 {
    padding-right: 0 !important;
}

.ts-pb__0 {
    padding-bottom: 0 !important;
}

.ts-pl__0 {
    padding-left: 0 !important;
}

/*-------------------------------------------
  -- Position
-------------------------------------------*/

/* Top */

.ts-top__0 {
    top: 0%;
}

.ts-top__50 {
    top: 50%;
}

.ts-top__100 {
    top: 100%;
}

/* Right */

.ts-right__0 {
    right: 0%;
}

.ts-right__50 {
    right: 50%;
}

.ts-right__100 {
    right: 100%;
}

.ts-right__inherit {
    right: inherit;
}

/* Bottom */

.ts-bottom__0 {
    bottom: 0%;
}

.ts-bottom__50 {
    bottom: 50%;
}

.ts-bottom__100 {
    bottom: 100%;
}

/* Left */

.ts-left__0 {
    left: 0%;
}

.ts-left__50 {
    left: 50%;
}

.ts-left__100 {
    left: 100%;
}

.ts-left__inherit {
    left: inherit;
}

.ts-push-left__100 {
    transform: translateX(100%);
}

.ts-push-down__50 {
    transform: translateY(50%);
}

.ts-push-up__50 {
    transform: translateY(-50%);
}

/*-------------------------------------------
  -- Shadow
-------------------------------------------*/

.ts-shadow__sm {
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
}

.ts-shadow__md {
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
}

.ts-shadow__lg {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
}

.ts-shadow__none {
    box-shadow: none !important;
}

/*-------------------------------------------
  -- Typography
-------------------------------------------*/

a {
    color: #f26c4f;
    transition: .3s ease;
}

a:hover {
    color: rgb(237, 58, 18);
    text-decoration: none;
}

p {
    line-height: 1.6875rem;
    margin-bottom: 1.875rem;
}

.ts-font-weight__normal {
    font-weight: normal;
}

.ts-font-weight__light {
    font-weight: lighter;
}

.ts-font-weight__bold {
    font-weight: bold;
}

.ts-text-small {
    font-size: .8125rem !important;
}

.ts-xs-text-center {
}

/*-------------------------------------------
  -- Title
-------------------------------------------*/

.ts-title {
}

.ts-title h5 {
    font-weight: normal;
    opacity: .5;
}

/*-------------------------------------------
  -- Utilities
-------------------------------------------*/

.ts-element {
    position: relative;
}

/* Social Icons */

.ts-social-icons {
    font-size: 120%;
}

.ts-social-icons a {
    padding: .125rem .25rem;
    color: #9e9e9e;
}

/* Overlay */

.ts-has-overlay {
    position: relative;
}

.ts-has-overlay:after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* Flip x */

.ts-flip-x {
    transform: scaleY(-1);
}

/* Flip Y */

.ts-flip-y {
    transform: scaleX(-1);
}

.ts-has-talk-arrow {
    position: relative;
}

.ts-has-talk-arrow:after {
    border-style: solid;
    border-width: .625rem .625rem 0 0;
    border-color: #f26c4f transparent transparent transparent;
    bottom: -0.625rem;
    content: "";
    left: 1rem;
    position: absolute;
}

.ts-video-bg {
    height: 100%;
}

.ts-video-bg .fluid-width-video-wrapper {
    height: 100%;
}

.ts-video-bg iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

/*-------------------------------------------
  -- Width
-------------------------------------------*/

.ts-width__10px {
    width: .625rem;
}

.ts-width__20px {
    width: 1.25rem;
}

.ts-width__30px {
    width: 1.875rem;
}

.ts-width__40px {
    width: 2.5rem;
}

.ts-width__50px {
    width: 3.125rem;
}

.ts-width__100px {
    width: 6.25rem;
}

.ts-width__200px {
    width: 12.5rem;
}

.ts-width__300px {
    width: 18.75rem;
}

.ts-width__400px {
    width: 25rem;
}

.ts-width__500px {
    width: 31.25rem;
}

.ts-width__inherit {
    width: inherit !important;
}

.ts-width__auto {
    width: auto !important;
}

/*-------------------------------------------
  -- Z-index
-------------------------------------------*/

.ts-z-index__-1 {
    z-index: -1 !important;
}

.ts-z-index__0 {
    z-index: 0 !important;
}

.ts-z-index__1 {
    z-index: 1 !important;
}

.ts-z-index__2 {
    z-index: 2 !important;
}

.ts-z-index__1000 {
    z-index: 1000 !important;
}

/***********************************************************************************************************************
C. Components
***********************************************************************************************************************/

/*-------------------------------------------
  -- Block
-------------------------------------------*/

.ts-block {
    padding-bottom: 5rem;
    padding-top: 5rem;
    position: relative;
    /*
  &:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  width='103.987' height='105.599'%3E%3cpath fill='var(--color-primary-svg)' d='M101.017 45.961c-10.338 22.34-33.156 61.239-62.326 59.586-31.984-1.803-44.52-48.772-36.182-73.996 15.682-47.439 120.287-40.376 98.508 14.41-10.998 23.766 1.923-4.836 0 0z'/%3E%3c/svg%3E");
  }
  */
}

.ts-block-inside {
    padding: 1.25rem;
    position: relative;
}

section {
    position: relative;
}

/*-------------------------------------------
  -- Blockquote
-------------------------------------------*/

blockquote {
    font-size: 1.125rem;
    position: relative;
}

blockquote [class*="ts-circle"] {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
    position: relative;
    z-index: 2;
    margin-top: 1rem;
}

blockquote p {
    background-color: #0d0f16;
    border-radius: .25rem;
    padding: 2.5rem;
    position: relative;
    z-index: 1;
    line-height: 1.5;
}

blockquote h4 {
    margin-bottom: .3125rem;
}

blockquote h6 {
    opacity: .5;
}

.blockquote-footer {
    color: inherit;
}

.blockquote-footer:before {
    display: none;
}

.ts-carousel-blockquote .owl-item figure, .ts-carousel-blockquote .owl-item p,
.ts-carousel-blockquote .owl-item .blockquote-footer {
    opacity: 0;
    transition: .6s ease;
    transform: translateY(.625rem);
}

.ts-carousel-blockquote .owl-item.active figure,
.ts-carousel-blockquote .owl-item.active p,
.ts-carousel-blockquote .owl-item.active .blockquote-footer {
    opacity: 1;
    transform: translateY(0);
}

.ts-carousel-blockquote .owl-item.active p {
    transition-delay: .1s;
}

.ts-carousel-blockquote .owl-item.active .blockquote-footer {
    transition-delay: .2s;
}

/*-------------------------------------------
  -- Box
-------------------------------------------*/

.ts-box {
    background-color: #fff;
    border-radius: .25rem;
    margin-bottom: 1.875rem;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    padding: 1.5625rem;
}

/*-------------------------------------------
  -- Buttons
-------------------------------------------*/

.btn {
    border-radius: 0;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    display: inline-block;
    font-weight: 600;
    font-size: .875rem;
    padding: .75rem 1.25rem;
    position: relative;
    outline: none !important;
    text-transform: uppercase;
}

.btn:hover .fa-arrow-right {
    transform: translateX(.5rem);
}

.btn.ts-btn-arrow:after {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: .625rem;
    margin-left: .75rem;
    position: relative;
    top: -0.0625rem;
    vertical-align: middle;
}

.btn span {
    transition: .3s ease;
}

.btn .status {
    bottom: 0;
    height: 1.375rem;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
}

.btn .status .spinner {
    left: .3125rem;
    transition: .3s ease;
    top: .1875rem;
    position: absolute;
    opacity: 0;
}

.btn .status .status-icon {
    border-radius: 50%;
    left: 0;
    opacity: 0;
    font-size: .625rem;
    padding: .25rem .4375rem;
    position: relative;
    transition: .3s ease;
    z-index: 1;
    transform: scale(0);
}

.btn .status .status-icon.valid {
    background-color: var(--green);
}

.btn .status .status-icon.invalid {
    background-color: var(--red);
}

.btn.processing span {
    opacity: .2;
}

.btn.processing .spinner {
    opacity: 1;
}

.btn.done .ts-spinner {
    opacity: 0;
}

.btn.done .status-icon {
    transform: scale(1);
    opacity: 1;
}

.ts-btn-effect {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.ts-btn-effect:hover .ts-hidden {
    transform: translateX(0%);
}

.ts-btn-effect:hover .ts-visible {
    transform: translateX(100%);
}

.ts-btn-effect .ts-visible {
    transform: translateX(0%);
    transition: .3s ease;
}

.ts-btn-effect .ts-hidden {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: .3s ease;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #f26c4f;
    border-color: #f26c4f;
    box-shadow: none;
}

.btn-primary {
    background-color: #f26c4f;
    border-color: #f26c4f;
    color: #fff;
}

.btn-lg {
    padding: .75rem 1.5rem;
    font-size: 1.125rem;
}

.btn-sm {
    font-size: .8125rem;
    padding: .375rem 1rem;
}

.btn-xs {
    font-size: .75rem;
    font-weight: 600;
    padding: .125rem .6875rem;
    text-transform: uppercase;
}

[class*="btn-outline-"] {
    box-shadow: none;
}

.ts-link-arrow-effect {
    overflow: hidden;
    display: inline-block;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    position: relative;
    padding-right: 2rem;
    /*
  &:hover {
    color: var(--color-white);
    &:before {
      animation: ts-link-arrow-effect-animation-in;
      animation-fill-mode: forwards;
      animation-duration: .4s;
      animation-timing-function: cubic-bezier(.6,.01,0,1);
    }
    span {
      transform: translateX(0%);
    }
  }
  */
}

.ts-link-arrow-effect:before {
    animation: ts-link-arrow-effect-animation-out;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.6, .01, 0, 1);
    background-color: #f26c4f;
    bottom: 0;
    height: .125rem;
    margin: auto;
    left: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
}

.ts-link-arrow-effect span {
    position: relative;
    transform: translateX(-200%);
    display: inline-block;
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}

@keyframes ts-link-arrow-effect-animation-in {
    0% {
        transform-origin: left center;
        transform: scaleX(.2);
    }

    70% {
        transform-origin: left center;
        transform: scaleX(1);
    }

    71% {
        transform-origin: right center;
    }

    100% {
        transform-origin: right center;
        transform: scaleX(.2);
    }
}

@keyframes ts-link-arrow-effect-animation-out {
    0% {
        transform-origin: right center;
        transform: scaleX(.2);
    }

    70% {
        transform-origin: right center;
    }

    71% {
        transform-origin: left center;
        transform: scaleX(1);
    }

    100% {
        transform-origin: left center;
        transform: scaleX(.2);
    }
}

/*-------------------------------------------
  -- Card
-------------------------------------------*/

.card {
    backface-visibility: hidden;
    border: none;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    margin-bottom: 1.875rem;
    overflow: hidden;
}

.card-columns .card {
    margin-bottom: 1.25rem;
}

.card-body, .card-footer, .card-header {
    padding: 1.5625rem;
}

.ts-cards-same-height > div[class*='col-'] {
    display: flex;
}

.ts-cards-same-height > div[class*='col-'] .card {
    width: 100%;
}

.ts-card__flat {
    border-radius: 0;
    box-shadow: none;
}

.ts-card__flat .card-footer {
    background-color: transparent;
    border: none;
}

.ts-card__image {
}

/*-------------------------------------------
  -- Circle
-------------------------------------------*/

.ts-circle__xs {
    border-radius: 50%;
    display: inline-block;
    height: 3rem;
    flex: 0 0 3rem;
    overflow: hidden;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
}

.ts-circle__sm {
    border-radius: 50%;
    display: inline-block;
    height: 3.9rem;
    flex: 0 0 3.9rem;
    overflow: hidden;
    text-align: center;
    line-height: 3.9rem;
    width: 3.9rem;
}

.ts-circle__md {
    border-radius: 50%;
    display: inline-block;
    height: 6.25rem;
    flex: 0 0 6.25rem;
    overflow: hidden;
    text-align: center;
    line-height: 6.25rem;
    width: 6.25rem;
}

.ts-circle__lg {
    border-radius: 50%;
    display: inline-block;
    height: 8.125rem;
    flex: 0 0 8.125rem;
    overflow: hidden;
    text-align: center;
    line-height: 8.125rem;
    width: 8.125rem;
}

.ts-circle__xl {
    border-radius: 50%;
    display: inline-block;
    height: 10rem;
    flex: 0 0 10rem;
    overflow: hidden;
    text-align: center;
    line-height: 10rem;
    width: 10rem;
}

.ts-circle__xxl {
    border-radius: 50%;
    display: inline-block;
    height: 15.625rem;
    flex: 0 0 15.625rem;
    overflow: hidden;
    text-align: center;
    line-height: 15.625rem;
    width: 15.625rem;
}

.ts-circle__xxs {
    border-radius: 50%;
    display: inline-block;
    height: 2.5rem;
    flex: 0 0 2rem;
    overflow: hidden;
    text-align: center;
    line-height: 2.25rem;
    width: 2.5rem;
}

/* --Description */

dl dt {
    color: #f26c4f;
}

dl dd {
    margin-bottom: 1rem;
}

/*-------------------------------------------
  -- Forms
-------------------------------------------*/

form.ts-labels-inside-input .form-group,
.ts-form.ts-labels-inside-input .form-group {
    position: relative;
}

form.ts-labels-inside-input .form-group label,
.ts-form.ts-labels-inside-input .form-group label {
    line-height: 2.625rem;
    left: .8125rem;
    opacity: .4;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: .3s ease;
}

form.ts-labels-inside-input .form-group label.focused,
.ts-form.ts-labels-inside-input .form-group label.focused {
    top: -2.1875rem;
    left: 0;
    font-size: .75rem;
    opacity: 1;
}

.form-control {
    background-color: #12141c;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    padding: .5625rem .75rem;
    transition: .3s ease;
}

.form-control:hover {
    background-color: rgba(255, 255, 255, .15);
}

.form-control:focus {
    background-color: rgba(255, 255, 255, .3);
    box-shadow: none;
    color: #fff;
}

.form-group {
    margin-bottom: 1.5625rem;
}

.form-group label {
    font-size: .8125rem;
}

.ts-gallery {
    position: relative;
}

.ts-gallery .ts-gallery__item {
    border-radius: 0;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.ts-gallery .ts-gallery__item .ts-gallery__item-description {
    background-color: rgba(0, 0, 0, .8);
    backface-visibility: hidden;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transform: scale(1.2);
    transition: .6s ease;
    opacity: 0;
}

.ts-gallery .ts-gallery__item:hover .ts-gallery__item-description {
    transform: scale(1);
    opacity: 1;
}

.ts-gallery .ts-gallery__item .portfolio-thumb {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.ts-gallery .ts-gallery__item:hover img {
    transform: scale(1.3) rotate(-9deg);
}

.ts-gallery .ts-gallery__item h4 {
    margin-bottom: 0;
}

.ts-gallery .ts-gallery__item img {
    border-radius: 0;
    transform: scale(1) rotate(0deg);
    backface-visibility: hidden;
    transition: .8s ease;
    width: 100%;
}

@media only screen and (max-width: 767px) {
   .ts-gallery .ts-gallery__item {
        min-height: 100%;
        max-height: 100%;
        height: 100%;
        display: block;
   } 
   .ts-gallery .ts-gallery__item img {
        width: 100%;
   }
}
/*-------------------------------------------
  -- HR
-------------------------------------------*/

.ts-hr-light {
    border-color: rgba(255, 255, 255, .2);
}

/*-------------------------------------------
  -- Inputs
-------------------------------------------*/

.ts-input__static {
    pointer-events: none;
    box-shadow: none;
}

.ts-inputs__transparent input, .ts-inputs__transparent textarea {
    background-color: transparent;
    color: #fff;
}

.ts-inputs__transparent input:active, .ts-inputs__transparent input:focus,
.ts-inputs__transparent textarea:active, .ts-inputs__transparent textarea:focus {
    background-color: transparent;
    color: #fff;
}

.ts-item {
    height: 100%;
    padding-bottom: 2rem;
}

.ts-item:hover .icon, .ts-item:hover h4, .ts-item:hover p {
    transform: translateY(-0.625rem);
}

.ts-item:hover .ts-link-arrow-effect {
    color: #fff;
}

.ts-item:hover .ts-link-arrow-effect:before {
    animation: ts-link-arrow-effect-animation-in;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.6, .01, 0, 1);
}

.ts-item:hover .ts-link-arrow-effect span {
    transform: translateX(0%);
}

.ts-item .icon, .ts-item h4, .ts-item p {
    transition: .3s ease;
    transform: translateY(0);
}

.ts-item h4 {
    transition-delay: .05s;
}

.ts-item p {
    transition-delay: .1s;
}

.ts-item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #12141c;
    padding: 45px;
}

.ts-item-header {
    margin-bottom: 1.5rem;
    position: relative;
}

.ts-item-header .icon {
    position: relative;
    display: inline-block;
}

.ts-item-header .icon i {
    font-size: 45px;
}

.ts-item-header .icon .step {
    background-color: #f26c4f;
    top: 0;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    line-height: 2rem;
    right: 0;
    height: 2rem;
    position: absolute;
    text-align: center;
    width: 2rem;
}

.ts-item-body {
    flex: 1 1 auto;
}

.ts-item-body h4 {
 color: #fff;
}
.ts-item-body p {
 color: #999;
}
.ts-item-footer {
    padding-top: 1rem;
    padding-bottom: 0;
}

/*-------------------------------------------
  -- List
-------------------------------------------*/

ul.ts-list-colored-bullets li:before {
    content: "•";
    color: #f26c4f;
    vertical-align: middle;
    font-size: 1.75rem;
    padding-right: .75rem;
}

/*-------------------------------------------
  -- Loading Screen
-------------------------------------------*/

body.has-loading-screen:before {
    background-color: #000;
    content: "";
    height: 100%;
    right: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 1.5s ease;
    opacity: 1;
}

body.has-loading-screen:after {
    height: 2.5rem;
    width: 2.5rem;
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
    transition: 1.5s ease;
    top: 0;
    z-index: 10000;
}

body.has-loading-screen.loading-done:before {
    width: 0;
}

body.has-loading-screen.loading-done:after {
    transform: scale(0);
    opacity: 0;
}

/*-------------------------------------------
  -- Map
-------------------------------------------*/

.map {
    min-height: 12.5rem;
}

.map a[href^="http://maps.google.com/maps"] {
    display: none !important;
}

.map a[href^="https://maps.google.com/maps"] {
    display: none !important;
}

.map .gmnoprint a, .map .gmnoprint span, .map .gm-style-cc {
    display: none;
}

/*-------------------------------------------
  -- Hero
-------------------------------------------*/

.inique-ts-hero-image {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}

.inique-ts-hero-image .ts-background-image {
    background-position: top center;
}

.inique-ts-hero-image.ts-animate-hero-items h1:not(.ts-bubble-border) {
    opacity: 0;
    transition: .5s cubic-bezier(.03, .18, .05, 1.01);
    transition-duration: 1s;
    transform: translateY(1.25rem);
}

.inique-ts-hero-image.ts-animate-hero-items .ts-background {
    opacity: 0;
    transition: 1s ease;
    transition-delay: 1.3s;
}

.inique-ts-hero-image.ts-animate-hero-items .ts-social-icons {
    opacity: 0;
    transition: .3s ease;
    transform: translateX(.3125rem) rotate(.002deg);
    transition-delay: 1.2s;
    transition-duration: 1s;
    padding-bottom: 20px;
}

body.loading-done .inique-ts-hero-image.ts-animate-hero-items .ts-background {
    opacity: 1;
}

body.loading-done .inique-ts-hero-image.ts-animate-hero-items h1:not(.ts-bubble-border) {
    opacity: 1;
    transform: translateY(0);
}

body.loading-done .inique-ts-hero-image.ts-animate-hero-items .ts-social-icons {
    opacity: 1;
    transform: translateX(0) rotate(.002deg);
}
.inique-ts-hero-image h2 {
    color: #fff;
    font-size: 2.75rem;
}

@media (min-width: 75rem) {
    .inique-ts-hero-image h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
}
@media (min-width: 62rem) {
    .inique-ts-hero-image h2 {
        font-size: 60px;
        margin-bottom: 1.5rem;
    }
}
@media (max-width: 768px) {
    .inique-ts-hero-image h2 {
        margin-bottom: 1.5rem;
    }
}

.inique-ts-hero-image .ts-social-icons + h2 {
    font-size: 70px;
    margin-bottom: 15px;
    font-weight: 500;
}
@media only screen and (max-width: 992px) {
    .inique-ts-hero-image .ts-social-icons + h2 {
        font-size: 45px;
        font-weight: 500;
    }    
    .inique-ts-hero-image .ts-social-icons + h2 + h2 {
        font-size: 35px;
    }
}
@media only screen and (max-width: 767px) {
    .inique-ts-hero-image .ts-social-icons + h2 {
        font-size: 35px;
        font-weight: 500;
    }    
    .inique-ts-hero-image .ts-social-icons + h2 + h2 {
        font-size: 30px;
    }
}
/*-------------------------------------------
  -- Navbar
-------------------------------------------*/

.navbar {
    font-size: .875rem;
    font-weight: 500;
    transition: .3s ease;
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .ts-background {
    transition: 1s ease;
}

.nav-link.active:after {
    opacity: 1;
}

.nav-link {
    position: relative;
}

.nav-link:after {
    border-top: .1875rem solid #f26c4f;
    content: "";
    height: .1875rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
}

.navbar-toggler {
    margin-left: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

[class*="navbar-expand"] .navbar-nav .nav-link {
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: .0625rem solid rgba(0, 0, 0, .1);
}

/*XL*/

/*LG*/

/*MD*/

/*SM*/

/*-------------------------------------------
  -- Page
-------------------------------------------*/

.ts-page-wrapper {
    overflow: hidden;
}

/*-------------------------------------------
  -- Partners
-------------------------------------------*/

.ts-partners a {
    display: block;
    padding: .625rem .3125rem;
}

/*-------------------------------------------
  -- Plugins
-------------------------------------------*/

.tv-site-widget {
    border: none !important;
}

iframe div {
    border: none;
}

/*-------------------------------------------
  -- Progress
-------------------------------------------*/

.progress {
    background-color: transparent;
    border-radius: 0;
    height: 2.25rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: visible;
}

.progress .ts-progress-value {
    border: .125rem solid #fff;
    bottom: 0;
    padding: .125rem .375rem;
    position: absolute;
    left: 0%;
    transform: translateX(-1rem);
}

.progress .ts-progress-value:after {
    border-style: solid;
    border-width: .3125rem .3125rem 0 0;
    border-color: #fff transparent transparent transparent;
    bottom: -0.4375rem;
    content: "";
    left: .375rem;
    position: absolute;
}

.progress .progress-bar {
    background-color: #f26c4f;
    bottom: 0;
    height: .1875rem;
    position: absolute;
    width: 0%;
}

.progress .progress-bar, .progress .ts-progress-value {
    transition: 1s ease;
}

/*-------------------------------------------
  -- Promo Numbers
-------------------------------------------*/

.ts-promo-number {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.ts-promo-number figure {
    color: #f26c4f;
    font-weight: 500;
}

.ts-promo-number.ts-has-divider:after {
    background-color: rgba(255, 255, 255, .5);
    content: "";
    position: absolute;
    right: -2.375rem;
    top: 0;
    bottom: 0;
    margin: auto;
    height: .1875rem;
    width: 3rem;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}


@media only screen and (min-width: 768px) {
    .counter-loop > .col-md-3:last-of-type .ts-promo-number.ts-has-divider:after {
        background-color: rgba(0, 0, 0, 0);
    }
}
@media only screen and (max-width: 768px) {
    .ts-promo-number.ts-has-divider:after {
        background-color: rgba(255, 255, 255, .5);
        content: "";
        position: absolute;
        right: 0;
        top: auto;
        bottom: -15px;
        margin: auto;
        height: .1875rem;
        width: 3rem;
        left: 0;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

/*-------------------------------------------
  -- Select
-------------------------------------------*/

select.form-control {
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    border-radius: .25rem;
    cursor: pointer;
    height: 2.8125rem !important;
    margin-top: -0.125rem;
    padding: .5rem;
    -webkit-appearance: none;
       -moz-appearance: none;
    text-indent: .0625rem;
    text-overflow: '';
}

select.form-control:focus, select.form-control:hover {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
}

select::-ms-expand {
    display: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper:before {
    position: absolute;
    display: inline-block;
    font-weight: 900;
    text-rendering: auto;
    top: 0;
    margin: auto;
    bottom: 0;
    right: .9375rem;
    height: 1.875rem;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome\ 5 Free";
    content: "\f0dd";
}

/*-------------------------------------------
  -- Slider
-------------------------------------------*/

.ts-slider {
    height: 100% !important;
}

.ts-slider div {
    height: 100% !important;
}

/*-------------------------------------------
  -- Tabs
-------------------------------------------*/

.nav-tabs {
    border-bottom: none;
}

.nav-tabs h4 {
    font-weight: normal;
    margin-bottom: 0;
}

.nav-tabs .nav-link {
    background-color: transparent;
    border: none;
    border-bottom: .1875rem solid transparent;
    margin-left: .9375rem;
    margin-right: .9375rem;
    padding-right: 0;
    padding-left: 0;
    color: inherit;
    opacity: .5;
}

.nav-tabs .nav-link.active {
    color: #191919;
    background-color: transparent;
    border-bottom: .1875rem solid #f26c4f;
    opacity: 1;
}

/***********************************************************************************************************************
D. Plugins Styles
***********************************************************************************************************************/

/*-------------------------------------------
  -- Magnific Popup
-------------------------------------------*/

/* overlay at start */

.mfp-fade.mfp-bg {
    opacity: 0;
    background-color: #000;
    -webkit-transition: all .15s ease-out;
       -moz-transition: all .15s ease-out;
            transition: all .15s ease-out;
}

/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
    opacity: .8;
}

/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all .15s ease-out;
       -moz-transition: all .15s ease-out;
            transition: all .15s ease-out;
}

/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

/*-------------------------------------------
  -- Owl Carousel
-------------------------------------------*/

.owl-carousel .owl-stage, .owl-carousel .owl-stage-outer,
.owl-carousel .owl-item {
    height: 100%;
}

.owl-carousel .owl-dots {
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    padding: .3125rem;
}

.owl-carousel .owl-dots .owl-dot.active span {
    background-color: #f26c4f;
    opacity: 1;
}

.owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #fff;
    opacity: .7;
}

.owl-carousel .owl-dots .owl-dot span {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: .625rem;
    opacity: .2;
    transition: .3s ease;
    width: .625rem;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: -1.25rem;
    bottom: 0;
    height: 0;
    margin: auto;
    width: 100%;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 50%;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    color: #fff;
    display: inline-block;
    height: 2.5rem;
    position: absolute;
    text-align: center;
    transition: .3s ease;
    width: 2.5rem;
}

.owl-carousel .owl-nav .owl-prev:after, .owl-carousel .owl-nav .owl-next:after {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 1.375rem;
    line-height: 2.5rem;
    -webkit-font-smoothing: antialiased;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover {
    background-color: rgba(25, 25, 25, .8);
}

.owl-carousel .owl-nav .owl-next {
    right: .3125rem;
}

.owl-carousel .owl-nav .owl-next:after {
    content: "\f105";
    margin-left: .1875rem;
}

.owl-carousel .owl-nav .owl-prev {
    left: .3125rem;
}

.owl-carousel .owl-nav .owl-prev:after {
    content: "\f104";
    margin-right: .0625rem;
}

/***********************************************************************************************************************
E. Template Specific Elements
***********************************************************************************************************************/

.ts-bubble-border {
    display: inline-block;
    position: relative;
    transition: .6s ease;
}

.ts-bubble-border i {
    background-color: #fff;
    position: absolute;
    transition: .2s ease-in;
}

.ts-bubble-border i:nth-child(1) {
    top: 0;
    left: 0;
    height: .1875rem;
    width: 0%;
}

.ts-bubble-border i:nth-child(2) {
    height: 0%;
    right: 0;
    top: 0;
    width: .1875rem;
    transition-delay: .2s;
}

.ts-bubble-border i:nth-child(3) {
    bottom: 0;
    right: 0;
    height: .1875rem;
    width: 0%;
    transition-delay: .4s;
}

.ts-bubble-border i:nth-child(4) {
    height: 0%;
    left: 0;
    bottom: 0;
    width: .1875rem;
    transition-delay: .6s;
}

.ts-bubble-border i:nth-child(5) {
    bottom: 0;
    opacity: 0;
    transition-delay: .6s;
    left: 2rem;
}

.ts-bubble-border i:nth-child(5):after {
    border-style: solid;
    border-width: .625rem .625rem 0 0;
    border-color: #fff transparent transparent transparent;
    content: "";
    position: absolute;
}

.ts-bubble-border .ts-title-rotate {
    left: 0;
    /*padding: 24px 36px;*/
    position: absolute;
    top: 0;
}

.ts-bubble-border .ts-title-rotate span {
    padding: 1.5rem 2.25rem;
    display: inline-block;
    position: absolute;
    transition: .8s ease;
    transition-delay: .3s;
    transform: translateY(-0.3125rem) rotate(.02deg);
    opacity: 0;
    white-space: nowrap;
}

.ts-bubble-border .ts-title-rotate span.active {
    opacity: 0;
    transform: translateY(-0.3125rem) rotate(.02deg);
}

.ts-bubble-border.in .ts-title-rotate span.active {
    opacity: 1;
    transform: translateY(0) rotate(.02deg);
}

.ts-bubble-border.in .ts-title-rotate span.out {
    opacity: 0;
    transform: translateY(.3125rem) rotate(.02deg);
}

.ts-bubble-border.in i:nth-child(1), .ts-bubble-border.in i:nth-child(3) {
    width: 100%;
}

.ts-bubble-border.in i:nth-child(2), .ts-bubble-border.in i:nth-child(4) {
    height: 100%;
}

.ts-bubble-border.in i:nth-child(5) {
    opacity: 1;
}

#ts-content .ts-bubble-border, #ts-footer .ts-bubble-border {
    padding: 1.5rem 2.25rem;
}

/*-------------------------------------------
  -- Centered Slider
-------------------------------------------*/

.ts-carousel-centered .slide {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.ts-carousel-centered .owl-item {
    perspective: 1000;
}

.ts-carousel-centered .owl-item .slide {
    opacity: .5;
    transition: .3s ease;
    transform: scale(.95);
}

.ts-carousel-centered .owl-item.active.center .slide {
    opacity: 1;
    transform: scale(1);
}

.ts-carousel-centered .owl-nav .owl-prev,
.ts-carousel-centered .owl-nav .owl-next {
    height: 3.75rem;
    width: 3.75rem;
}

.ts-carousel-centered .owl-nav .owl-prev:after,
.ts-carousel-centered .owl-nav .owl-next:after {
    font-size: 1.375rem;
    line-height: 3.75rem;
}

.ts-carousel-centered .owl-nav .owl-prev:hover,
.ts-carousel-centered .owl-nav .owl-next:hover {
    background-color: rgb(25, 25, 25);
}

.ts-carousel-centered .owl-nav .owl-next {
    right: 1.25rem;
}

.ts-carousel-centered .owl-nav .owl-prev {
    left: 1.25rem;
}

/*-------------------------------------------
  -- Hero Form Floated
-------------------------------------------*/

.floated {
    position: relative;
    width: 100%;
    z-index: 1;
    bottom: -1.875rem;
}

.floated form {
    position: relative;
    padding: 1.875rem 3.75rem;
}

/*-------------------------------------------
  -- Price Box
-------------------------------------------*/

.ts-price-box__promoted {
    box-shadow: .375rem .3125rem 1.5625rem rgba(0, 0, 0, .2);
    margin-top: -1.25rem;
    margin-bottom: .625rem;
    z-index: 2;
}

.ts-price-box__promoted .ts-title {
    transform: scale(1.2);
}

/*-------------------------------------------
  -- Time Line
-------------------------------------------*/

.ts-time-line__horizontal {
    padding-bottom: .625rem;
    padding-top: .625rem;
    position: relative;
    /* timeline line */
}

.ts-time-line__horizontal ul {
    padding-left: 1.875rem;
    list-style: none;
    position: relative;
}

.ts-time-line__horizontal:after {
    background-color: #474747;
    content: "";
    bottom: 6.875rem;
    height: .1875rem;
    left: 0;
    position: absolute;
    width: 100%;
}

.ts-time-line__horizontal .ts-time-line__item {
    flex: 0 0 auto;
    margin-right: 1.875rem;
    position: relative;
    width: 18.75rem;
}

.ts-time-line__horizontal .ts-time-line__item .ts-box {
    position: relative;
    /* dot */
}

.ts-time-line__horizontal .ts-time-line__item .ts-box:before {
    background-color: #474747;
    bottom: -4.375rem;
    border-radius: 100%;
    content: "";
    left: 1.6875rem;
    height: .75rem;
    position: absolute;
    width: .75rem;
}

.ts-time-line__horizontal .ts-time-line__item .ts-box {
    /*triangle*/
}

.ts-time-line__horizontal .ts-time-line__item .ts-box:after {
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: .5rem .5rem 0 .5rem;
    bottom: -0.4375rem;
    content: "";
    left: 1.5625rem;
    height: 0;
    position: absolute;
    width: 0;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone {
    width: 4.375rem;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone .ts-box {
    background-color: #f26c4f;
    color: #fff;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone .ts-box:after {
    border-color: #f26c4f transparent transparent transparent;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone h5 {
    writing-mode: vertical-lr;
    margin: 0;
}

.ts-time-line__horizontal .ts-time-line__item figure {
    margin-left: 1.875rem;
    margin-top: 4.6875rem;
}

.ts-time-line__horizontal .ts-time-line__item figure small {
    text-transform: uppercase;
    opacity: .4;
}

.ts-time-line__horizontal .ts-time-line__item figure small,
.ts-time-line__horizontal .ts-time-line__item figure h6 {
    font-weight: 600;
}

.ts-time-line__horizontal .owl-stage-outer {
    padding: 1rem 1rem 0 1rem;
}

.ts-time-line__horizontal .owl-stage {
    align-items: flex-end;
    display: flex;
}

.ts-time-line__horizontal .ts-sly-frame.ts-loaded > ul {
    align-items: flex-end;
    display: flex;
}

/*-------------------------------------------
  -- SVG Shapes
-------------------------------------------*/

.ts-svg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0;
    z-index: -1;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    margin: auto;
}

.ts-story:hover {
    color: #fff;
}

.ts-story:hover p {
    color: #fff;
}

.ts-story:hover .ts-background {
    background-color: #000 !important;
}

.ts-story:hover .ts-background-image {
    opacity: .4 !important;
}

.ts-story {
    margin-bottom: 2rem;
    padding: 14rem 2rem 2rem 2rem;
    position: relative;
}

.ts-story .ts-background, .ts-story .ts-background-image {
    transition: .3s ease;
}

.ts-story figure {
    background-color: #fff;
    color: rgba(25, 25, 25, .2);
    font-weight: 500;
    position: absolute;
    top: -0.375rem;
    left: 3rem;
    padding: 1rem;
    transform: rotate(-90deg);
    transform-origin: bottom;
}

/*-------------------------------------------
  -- Other
-------------------------------------------*/

/* Footer push up */

#ts-footer .ts-box {
    margin-top: -3.125rem;
}

.ts-tabs-presentation .tab-pane img {
    opacity: 0;
    transition: .3s ease;
    transform: translateY(1.25rem);
}

.ts-tabs-presentation .tab-pane.show.active img {
    opacity: 1;
    transform: translateY(0);
}

/* Hero navigation arrows */

.inique-ts-hero-image .owl-prev, .inique-ts-hero-image .owl-next {
    background-color: transparent;
    border: .125rem solid rgba(255, 255, 255, .8);
}

.inique-ts-hero-image .owl-prev:after, .inique-ts-hero-image .owl-next:after {
    line-height: 2.25rem;
}

/* Hero slider height */

.ts-hero-slider {
    height: 100% !important;
}

.ts-hero-slider div {
    height: 100% !important;
}

@media (min-width: 36rem) and (max-width: 47.9375rem) {
    html {
        font-size: 85%;
    }

    .ts-h1 {
        font-size: 2.5rem;
    }

    .ts-h2 {
        font-size: 1.625rem;
    }

    .ts-h3 {
        font-size: 1.25rem;
    }

    .ts-column-count-sm-1 {
        column-count: 1;
    }

    .ts-column-count-sm-2 {
        column-count: 2;
    }

    .ts-column-count-sm-3 {
        column-count: 3;
    }

    .ts-column-count-sm-4 {
        column-count: 4;
    }

    .ts-promo-number figure {
        font-size: 2.375rem;
    }
}

@media (min-width: 48rem) and (max-width: 61.9375rem) {
    html {
        font-size: 90%;
    }

    .ts-h1 {
        font-size: 3rem;
    }

    .ts-h2 {
        font-size: 1.875rem;
    }

    .ts-h3 {
        font-size: 1.375rem;
    }

    .ts-column-count-md-1 {
        column-count: 1;
    }

    .ts-column-count-md-2 {
        column-count: 2;
    }

    .ts-column-count-md-3 {
        column-count: 3;
    }

    .ts-column-count-md-4 {
        column-count: 4;
    }

    .ts-promo-number figure {
        font-size: 2.5rem;
    }
}

@media (min-width: 62rem) and (max-width: 74.9375rem) {
    html {
        font-size: 95%;
    }

    .ts-h1 {
        font-size: 3.125rem;
    }

    .ts-h2 {
        font-size: 2rem;
    }

    .ts-h3 {
        font-size: 1.375rem;
    }

    .ts-column-count-lg-1 {
        column-count: 1;
    }

    .ts-column-count-lg-2 {
        column-count: 2;
    }

    .ts-column-count-lg-3 {
        column-count: 3;
    }

    .ts-column-count-lg-4 {
        column-count: 4;
    }

    .ts-block {
        padding-bottom: 6.25rem;
        padding-top: 6.25rem;
    }

    .ts-card__image {
        height: 12.5rem;
    }

    .ts-promo-number figure {
        font-size: 2.75rem;
    }
}

@media (min-width: 75rem) {
    html {
        font-size: 100%;
    }

    .ts-h1 {
        font-size: 3.5rem;
    }

    .ts-h2 {
        font-size: 2.25rem;
    }

    .ts-h3 {
        font-size: 1.875rem;
    }

    .ts-column-count-xl-1 {
        column-count: 1;
    }

    .ts-column-count-xl-2 {
        column-count: 2;
    }

    .ts-column-count-xl-3 {
        column-count: 3;
    }

    .ts-column-count-xl-4 {
        column-count: 4;
    }

    .ts-block {
        padding-bottom: 8.125rem;
        padding-top: 8.125rem;
    }

    .ts-card__image {
        height: 15.625rem;
    }

    .navbar.navbar-expand-xl .navbar-nav {
        align-items: center;
    }

    .navbar.navbar-expand-xl .navbar-nav .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: none;
    }

    .navbar.navbar-expand-xl .ts-background {
        opacity: 0;
    }

    .ts-promo-number figure {
        font-size: 3.75rem;
    }

    .ts-carousel-centered .owl-nav .owl-next {
        right: 5rem;
    }

    .ts-carousel-centered .owl-nav .owl-prev {
        left: 5rem;
    }

    .floated form {
        padding: 2.5rem 5rem;
    }
}

@media (max-width: 35.9375rem) {
    .ts-h1 {
        margin-bottom: 1.25rem;
    }

    [class*="ts-column-count-"] {
        column-count: 1;
    }

    .ts-xs-text-center {
        text-align: center !important;
    }

    .ts-title {
        margin-bottom: 1.875rem;
    }

    .ts-promo-number figure {
        font-size: 2.25rem;
    }
}

@media (min-width: 36rem) and (max-width: 61.9375rem) {
    .ts-h1 {
        margin-bottom: 1.875rem;
    }

    .ts-title {
        margin-bottom: 3.125rem;
    }

    .ts-block-inside {
        padding: 2.5rem;
    }
}

@media (min-width: 62rem) {
    .ts-h1 {
        margin-bottom: 2.5rem;
    }

    .ts-title {
        margin-bottom: 5rem;
    }

    .ts-block-inside {
        padding: 3.75rem;
    }

    .navbar.navbar-expand-lg .navbar-nav {
        align-items: center;
    }

    .navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: none;
    }

    .navbar.navbar-expand-lg .ts-background {
        opacity: 0;
    }

    .floated {
        position: absolute;
    }
}

@media (max-width: 47.9375rem) {
    .ts-h4 {
        font-size: 1.125rem;
    }
}

@media (min-width: 48rem) {
    .ts-h4 {
        font-size: 1.5rem;
    }

    .navbar.navbar-expand-md .navbar-nav {
        align-items: center;
    }

    .navbar.navbar-expand-md .navbar-nav .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: none;
    }

    .navbar.navbar-expand-md .ts-background {
        opacity: 0;
    }
}

@media (max-width: 61.9375rem) {
    .ts-card__image {
        height: 15.625rem;
    }
}

@media (min-width: 36rem) {
    .navbar.navbar-expand-sm .navbar-nav {
        align-items: center;
    }

    .navbar.navbar-expand-sm .navbar-nav .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: none;
    }

    .navbar.navbar-expand-sm .ts-background {
        opacity: 0;
    }

    .ts-carousel-centered .owl-nav .owl-next {
        right: 2.5rem;
    }

    .ts-carousel-centered .owl-nav .owl-prev {
        left: 2.5rem;
    }
}
#post-modal-container .spinner-content {
    text-align: center;
    padding: 100px;
    color: #f26c4f;
}
.selfer-bubble-border-title.ts-bubble-border {
    padding: 1.5rem 2.25rem;
}
.selfer-about-me-content dd {
    margin-left: 0;
}
.selfer-call-to-block .call-to-title {
    font-size: 1.65rem !important;
}
.ts-progress-value {
    margin-bottom: 16px !important;
}
.ts-gallery__item-description h6, 
.ts-gallery__item-description h4 {
    color: #ffffff;
}
.ts-gallery__item-description h6 {
   font-weight: 400;
   font-size: 14px;
   letter-spacing: 0.015em;
   opacity: 0.65; 
}
.ts-gallery__item-description h4 {
    font-size: 20px;
}
.container .container {
    width: auto !important;
    max-width: auto !important;
    min-width: auto !important;
    padding: 0 !important;
}
.counter-ts-block h5 {
    color: #ffffff;
}
.slefer-testimonials-content figure.ts-has-talk-arrow {
    margin-bottom: 45px !important;
}
.slefer-testimonials-content {
    color: #ffffff;
}
.slefer-testimonials-content h5 {
    color: #ffffff;
}

.slefer-testimonials-description {
    line-height: 1.6875rem;
    margin-bottom: 2.75rem;
}
.slefer-testimonials-description > p {
    line-height: inherit;
    margin-bottom: 0;
    font-size: 1rem;
    color: #dfdfdf;
}
.author-position {
    color: #999;
    font-weight: 500;
    font-size: 14px;
}
.selfer-title-heading > h2 {
   font-size: 2.25rem;
}
.selfer-contact-info {
    color: #ffffff;
}
.selfer-contact-info h5 {
    color: #ffffff;
}

.admin-bar .fixed-top {
    top: 32px;
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .admin-bar .fixed-top {
        top: 48px;
    }
}
.site-branding-text {
    padding: 9px 0;;
}
.site-title {
    margin-bottom: 0;
    font-weight: bold;
    text-transform: none;
}
.site-brands {
    margin-bottom: 0;
    padding-bottom: 0;
}
.site-description {
    font-size: 0.75rem;
    margin-bottom: 0;
    margin-top: -5px;
    text-transform: none;
}
.selfer-call-to-block .btn {
    z-index: 99;
}
.selfer-call-to-block .ts-background {
    z-index: 0;
}
.navbar-brand {
    padding-top: 0;
}
.header-page-title > span:after {
    content: ":";
    padding: 0 5px;
}
.elementor-widget-slefer-service h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.ts-item-header > figure {
    margin-bottom: 16px !important;
}
#post-modal-container h4 {
    color: #020312;
    font-weight: 500;
    font-size: 1.5rem;
}
#post-modal-container h6 {
    color: #020312;
    margin-top: 1.5rem;
}
#post-modal-container .modal-body {
    font-size: 1rem;
}
.elementor-edit-mode [data-animate] {
    opacity: 1;
}
.selfer-about-me-content .selfer-bubble-border-title {
    font-size: 1.35rem !important;
    margin-bottom: 40px;
}
.modal-content .slide img {
    width: 100%;
}
.modal-content .slide p {
    margin-bottom: 22px;
}
span.wpcf7-not-valid-tip {
    position: relative;
    top: 5px;
}
div.wpcf7-response-output {
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
    top: 5px;
    padding: 0.5em 1em !important;
    border-width: 1px !important;
}
@media only screen and (max-width: 776px) {
    .xsm-0 {
        margin: 0 !important;
    }
}

.selfer-main-service-title {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.015em;
}
.selfer-main-service-title:before {
    content: "";
    height: 1px;
    position: absolute;
    bottom: -10px;
    width: 75px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.85;
}
.selfer-main-service-title:after {
    content: "";
    height: 1px;
    position: absolute;
    bottom: -13px;
    width: 54px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.85;
}
.selfer-footer-wrapper .copyright-text {
    font-size: 0.875rem;
}
@media only screen and (max-width: 600px) {
    .ts-animate-hero-items > .container {
        padding: 0 20px;
    }
    .ts-animate-hero-items .ts-btn-effect {
        padding-left: 20px;
        padding-bottom: 30px;
    }
    .ts-page-wrapper > .navbar.navbar-expand-lg {
        padding-left: 20px;
        padding-right: 20px;
    }
    .ts-promo-number {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .elementor-widget-selfer-contact-info .ts-xs-text-center {
        text-align: left !important;
    }
    .selfer-footer-wrapper .copyright-text {
        text-align: center;
        display: block;
        padding: 20px 10px;
    }
    .selfer-footer-wrapper .ts-footer-scroll {
        right: 20px;
        top: 0;
    }
    body > .mobile {
        top: 0 !important;
        position: fixed !important;
    }
}
.about-me-description {
    font-size: 1rem;
}

.additional-info-block {
    background: rgba(29,33,36,0.3);
    padding: 30px;
    margin-bottom: 30px;
    font-size: 1rem;
}

.title-divider {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}
.text-right .title-divider {
    margin-right: 50px;
}
.text-left .title-divider {
    margin-left: 50px;
}

.title-divider span:nth-child(1) {
    position: absolute;
    width: 2px;
    height: 25px;
    border-right: 2px dotted;
    transform: rotate(45deg);
}
.title-divider span:nth-child(2) {
    position: absolute;
    width: 2px;
    height: 25px;
    border-right: 2px dotted;
    transform: rotate(-45deg);
}

.title-divider:before {
    content: "";
    width: 25px;
    height: 1px;
    position: absolute;
    left: -50px;
    top: 12px;
    opacity: 0.75;
}
.title-divider:after {
    content: "";
    width: 25px;
    height: 1px;
    position: absolute;
    right: -50px;
    top: 12px;
    opacity: 0.75;
}

.social-title {
    font-weight: 600;
    letter-spacing: 0.015em;
}

.ts-promo-numbers > .counter-loop > .col-md-3:last-of-type > .ts-promo-number:after {
    display: none;
}

#post-modal-container .ts-circle__md i {
    color: #fff;
    font-size: 45px;
    line-height: 2.2;
}

.ts-gallery__item.video-popup {
    position: relative;
}
.ts-gallery__item.video-popup:before {
    content: "\f04b";
    font-family: FontAwesome;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    text-align: center;
    opacity: 0;
    font-size: 30px;
}
.ts-gallery__item.video-popup:hover:before {
    opacity: 1;
}
.ts-animate-hero-items .content-right .col-md-8 {
    text-align: right;
    margin-left: auto;
}
.ts-animate-hero-items .content-right .col-md-8 .mr-3 {
    margin-left: 1rem!important;
    margin-right: auto!important;
}
.ts-animate-hero-items .container.content-right > .ts-btn-effect {
    left: auto;
    right: 45px;
}
.ts-animate-hero-items .content-center .col-md-8 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ts-animate-hero-items .container.content-center {
    text-align: center;
}
.ts-animate-hero-items .container.content-center .mr-3{
    margin-left: 1rem!important;
    margin-right: 1rem!important;
}
.ts-animate-hero-items .container.content-center > .ts-btn-effect {
    left: 0;
    right: 0;
    margin-left: auto !important;
    display: table;
    margin-right: auto !important;
    align-items: center;
    width: 3.9rem;
}