.customize-control-selfer-dimensions > ul { display: inline-block; width: 100%; }
.customize-control-selfer-dimensions .dimension-wrap { float: left; width: 20%; margin: 0; }
.customize-control-selfer-dimensions .dimension-wrap input,
.customize-control-selfer-dimensions .dimension-wrap button { display: block; font-size: 12px; padding: 4px 0; width: 100%; height: 28px; border: 1px solid; border-color: #a4afb7; border-left-width: 0; border-radius: 0; text-align: center; }
.customize-control-selfer-dimensions .dimension-wrap:first-child input { border-left-width: 1px; border-radius: 3px 0 0 3px; }
.customize-control-selfer-dimensions .dimension-wrap .dimension-label { display: block; color: #949698; font-size: 10px; padding-top: 5px; font-style: normal; text-transform: uppercase; text-align: center; }
.customize-control-selfer-dimensions .dimension-wrap input:focus + .dimension-label { color: #42474a; }
.customize-control-selfer-dimensions .dimension-wrap .link-dimensions { background-color: #fff; border: 1px solid #a4afb7; border-left-width: 0; padding: 0; outline: none; border-radius: 0 3px 3px 0; cursor: pointer; }
.customize-control-selfer-dimensions .dimension-wrap .link-dimensions span { display: block; width: 100%; height: 26px; line-height: 26px; font-size: 16px; }
.customize-control-selfer-dimensions .dimension-wrap .link-dimensions .selfer-linked { background-color: #a4afb7; color: #fff; }
.customize-control-selfer-dimensions .dimension-wrap .link-dimensions.unlinked .selfer-unlinked { display: none; }
.customize-control-selfer-dimensions .dimension-wrap .link-dimensions.unlinked .selfer-linked { display: block; }
.customize-control-selfer-dimensions .dimension-wrap .link-dimensions .selfer-linked { display: none; }