.widget {
	select {
		width: 100%;
		border: 1px solid rgba(255, 255, 255, 0.15);
		padding: 0.8em 1em;
		outline: none;
		color: rgba(255,255,255,0.5);
		background: transparent;
		option {
			background: #020312;

		}
	}
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.widget-title-area {
		position: relative;
	}
	.widget-title {
		margin-top: 0;
	}
	pre {
		padding: 0.5em
	}
	label {
		margin-bottom: 0;
	}
	option {
		padding: 0.2em 1em;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="password"],
	input[type="search"],
	textarea {
		padding: 0.5em 1em;
		color: rgba(255,255,255,0.55);
		&:focus {
		 	box-shadow: none !important;
		}
	}
	p {
		opacity: 1;
	}
}
.blog-sidebar-content {
	background: #12141c;
	padding: 45px;
	@media only screen and (max-width: 767px) {
		padding: 30px;
    }
	.widget {
	    margin-bottom: 60px;
	}
	.widget-title {
		position: relative;
		margin-top: 0;
		clear: both;
		font-weight: 500;
		font-size: 1.25rem;
		margin-bottom: 45px;
		letter-spacing: 0.015em;
		&:before {
			content: "";
			width: 45px;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: -12px;
			opacity: 0.85;
		}	
		&:after {
			content: "";
			width: 30px;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: -14px;
			opacity: 0.85;
		}	
	}
	> .widget:last-of-type {
		margin-bottom: 0;
	}
}
.widget .expand-margin.widget-title {
	cursor: pointer;
}
.widget .expand-margin.widget-title:after {
    content: "\f067";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    width: 23px;
    height: 23px;
    border: 2px solid;
    text-align: center;
    font-size: 13px;
    border-radius: 50px;
    line-height: 22px;
}
.widget .expand-margin.expand.widget-title:after {
    content: "\f068";
}