button {
	@include prefixed(transition, all .25s ease);
}
input[type="button"] {
	@extend button;
}
input[type="reset"] {
	@extend button;
}
input[type="submit"] {
	@extend button;
	&:hover {
		color: $color__white;
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	&:focus {
		outline: none;
	}	
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.search-form, 
.searchform {
	.btn {
		@include prefixed(border-radius, 0);
		&:hover {
			color: $color__white;
			text-decoration: none;		
		}
		&:focus {
			background: transparent;
			color: $color__white;
			outline: 0 none;
		}
		&:active:focus {
			background: transparent;
			color: $color__white;
			outline: 0 none;
		}
	}
}
.more-link {
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	word-spacing: 0.02em;
	letter-spacing: 0.01em;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	@include prefixed(transition, all 0.25s ease);
	&:hover, &:focus, &:active:focus {
		color: $color__white;
		text-decoration: none !important;
	}
}
.comment-navigation {
	.nav-links {
		a {
			background: $color__white;
			display: inline-block;
			padding: 0.5em 1.8em;
			letter-spacing: 0.02em;
			&:hover {
				color: $color__white;
			}
		}	
	}
}
.go-button {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	width: 186px;
	height: 45px;
	line-height: 46px;
	background: $header__footer-bg;
	@include prefixed(transition, all 0.3s ease);
	&:hover {
		color: $color__white;
	}
}
.mfp-wrap {
	button:hover {
		background: transparent !important;
	}
}

.wpcf7-form-control.wpcf7-submit {
	border-radius: 30px;
}

.btn-play {
	padding: 15px;
	display: inline-block;
	font-size: 16px;
	height: 55px;
	width: 55px;
	line-height: 25px;
}
.social-btn-lg {
    display: inline-block;
    font-size: 15px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 42px;
    margin: 5px;
    &:hover {
    	color: #fff;
    }
}
.btn-gf {
	border-radius: 50%;
	box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.14); 
}
.btn-lg {
	padding: 15px 45px;
	display: inline-block;
	font-size: 16px;
}
.btn-md {
	padding: 10px 30px;
	display: inline-block;
	font-size: 15px;
}
.btn-xl {
	padding: 15px 45px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.015em;
}
.btn-slider {
	padding: 10px 45px;
	display: inline-block;
	font-size: 15px;
	border-radius: 30px;
	border-width: 3px;
}
.btn-slider-xl {
	padding: 15px 45px;
	display: inline-block;
	font-size: 15px;
	border-radius: 30px;
}