address {
	margin: 0 0 1.3em;
}
dfn {
	font-size: 1em;
}
em {
	@extend dfn;
	font-style: italic;
}
cite {
	@extend em;
}
i {
	@extend em;
}
code {
	@extend dfn;
}
kbd {
	@extend dfn;
}
tt {
	@extend dfn;
}
var {
	@extend dfn;
}

abbr {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}
acronym {
	@extend abbr;
}
mark {
	background: rgba($color__background-ins, 0.25);
	text-decoration: none;
}
ins {
	@extend mark;
}
big {
	font-size: 125%;
}

pre {
    background: #020312;
    padding: 20px 30px;
    margin-bottom: 30px;
    max-width: 100%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 0.929em;
    overflow: auto;
    color: #e83e8c;
}
.dropcap {
	display: block;
	float: left;
	margin: 15px 5px 0 0;
	font-weight: bold;
	font-size: 60px;
	color: #ccc;
}