body {
    font-family: 'Open Sans';
    font-size: 0.875rem;
}
.editor-post-title__block .editor-post-title__input {
    font-family: Rubik;
    font-weight: bold;
    font-size: 45px !important; 
}
p {
    font-size: 0.875rem;
}
h1, h2, h3, h4, h5, h6 { font-family: Rubik; font-weight: 400;}
h1 { font-size: 2.5rem;}h2 {font-size: 1.875rem;}h3 { font-size: 1.5rem;}h4 { font-size: 1.25rem;}h5 { font-size: 1.125rem;}h6 { font-size: 1rem;}
.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left-color: #f26c4f;
    padding-left: 1em;
}
blockquote p {
    font-size: 1.25rem;
}
.wp-block {
    max-width: 810px;
}
.wp-block[data-align=wide] {
    max-width: 1100px;
}
.wp-block[data-align=full] {
    max-width: none;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}