/*
Theme Name: Selfer

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/

body {
	direction: rtl;
	unicode-bidi: embed;
}

.navbar-light .navbar-brand {
	margin-right: 0;
}

.ts-page-wrapper .text-right {
    text-align: left!important;
}
.ts-page-wrapper .ml-auto, 
.ts-page-wrapper .mx-auto {
    margin-left: 0!important;
    margin-right: auto !important;
}

.inique-ts-hero-image {
	text-align: right;
}

.ts-bubble-border .ts-title-rotate {
	left: auto !important;
	right: 0;
}

.ts-animate-hero-items .ts-btn-effect {
	left: auto;
}

.ts-item-content {
	text-align: right;
}

.ts-link-arrow-effect:before {
	right: -55px;
	left: auto;
}

.ts-link-arrow-effect {
	padding-right: 0;
}

.additional-info-block {
	text-align: right;
}
.selfer-about-me-content dd {
	margin-left: auto;
	margin-right: 0;
}

.about-me-description,
.selfer-about-me-content {
	text-align: right;
}

.progress .ts-progress-value {
	left: auto;
	right: 0%;
}

.ts-promo-numbers > .counter-loop > .col-md-3 > .ts-promo-number:after {
	right: auto;
	left: -2.375rem;
}

@media (min-width: 768px) {
	.offset-md-2 {
		margin-right: 16.666667%;
		margin-left: auto;
	}
}

.selfer-contact-info {
	text-align: right;
}

.ts-circle__xs.mr-4 {
	margin-right: auto !important;
	margin-left: 1.5rem!important;
}

.selfer-footer-wrapper .copyright-text {
	text-align: right;
    display: block;
}

.selfer-footer-wrapper .ts-footer-scroll {
	left: 0;
	right: auto;
}
.widget_search .input-group .form-controller, 
.widget_product_search .input-group .form-controller {
	border-bottom-left-radius: 0;
    border-top-left-radius: 0;
	border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.widget_search .btn.btn-default, 
.widget_product_search .btn.btn-default {
	border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
	border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.blog-sidebar-content .widget {
	text-align: right;
}

.blog-sidebar-content .widget-title:before, 
.blog-sidebar-content .widget-title:after {
	left: auto;
	right: 0;
}

.post .entry-title {
	text-align: right;
}
.post .entry-content {
	text-align: right;
}

.blog-page-content:not(.blog-single-page) .more-link i {
    font-size: 10px;
    position: relative;
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: 10px;
}

.pagination-block,
.blog-single-page .meta-list {
	text-align: right;
}

.blog-single-page .entry-meta li i {
	margin-right: 0;
	margin-left: 5px;
}

.pagination-block .pagination li a i {
	position: relative;
    transform: rotate(180deg);
}

.comment-respond {
	text-align: right;
}

.comments-area .comment-body {
	text-align: right;
}

.comments-area .comment-author {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}

@media only screen and (min-width: 600px) {
	.comment-reply-link {
	  position: absolute;
	  right: auto;
	  left: 0;
	  top: 0;
	}
}
.comments-area .children {
	margin-left: 75px;
}
@media only screen and (max-width: 1199px) {
	.comments-area .children {
		margin-left: 0;
		margin-right: 60px;
	}
}
@media only screen and (max-width: 992px) {
	.comments-area .children {
		margin-left: 0;
		margin-right: 45px;
	}
}
@media only screen and (max-width: 767px) {
	.comments-area .children {
		margin-left: 0;
		margin-right: 30px;
	}
}
@media only screen and (max-width: 450px) {
	.comments-area .children {
		margin-left: 0;
		margin-right: 30px;
	}
}
@media only screen and (max-width: 400px) {
	.comments-area .children {
		margin-left: 0;
		margin-right: 25px;
	}
}

.col.text-left {
	text-align: right !important;
}
.col.text-right {
	text-align: left !important;
}

.portfolio-pagination i {
	position: relative;
	-webkit-transform: rotate(180deg);
 	transform: rotate(180deg);
}

#post-modal-container .close {
	right: auto !important;
    left: 0;
}

#post-modal-container .ts-title,
#post-modal-container .modal-body {
	text-align: right;
}
.list-unstyled {
	padding-right: 0;
}
.navbar-toggler {
	margin-right: auto !important;
	margin-left: 0;
}
.menu-click {
	text-align: center;
}