.alignleft {
	display: inline-block !important;
	float: left;
	margin-right: 1.5em !important;
}

.alignright {
	display: inline-block !important;
	float: right;
	margin-left: 1.5em !important;
}

.aligncenter {
	@include center-block;
}