/*--------------------------------------------------------------
# Post, Page, Comments Table
--------------------------------------------------------------*/
body:not(.woocommerce-page),
body:not(.bbpress),
body:not(.buddypress) {
	.entry-content {
		table {
			margin-bottom: 30px;
			td, th {
				border: 1px solid rgba(255,255,255,0.15);
				padding: 15px;
			}
		}
	}
}

.comment-content {
	table {
		margin-bottom: 30px;
		td, th {
			border: 1px solid rgba(255,255,255,0.15);
			padding: 15px;
		}
	}
}