/*
Theme Name: Selfer Child Theme
Theme URI: http://demo.softhopper.net/selfer/
Author: SoftHopper
Author URI: http://softhopper.net
Template: selfer
Description: This is a child theme for Selfer.
Version: 1.0
Text Domain: selfer-child
*/

/*  [ Add your custom CSS below ]
================================ */

.preloader{background-color:#000 !important;}
.orange_octal{color:#44c5dc;background-color:#44c5dc;}
.sep{width:80px;height:2px;display:block;margin:0px auto;}
#menu-item-585 a{padding-top:16px !important;}
.mainmenu > li > a,#white_txt{color:#fff;}
.mainmenu > li > a:hover,.active{color:#44c5dc;}
.mainmenu li a.active:before, .mainmenu li a.active:after {
    opacity: 0;
}
a.active{color:#44c5dc !important;background-color:rgba(25, 25, 25, 0) !important;border-bottom:1px solid #44c5dc !important;}
.admin-bar .fixed-top{top:45px;}
/*NEWSLETTER FIELD*/
.newsletterfield{padding: .5625rem .75rem;margin-bottom:20px;}

/*DEVLOG EN ORANGE*/
.mainmenu{padding-top:10px;}
#menu-main-menu{transition:all .3s ease;}
#menu-main-menu ul,#menu-main-menu li{line-height:0px;}
.menu-item-212 a{background-color:#44c5dc;color:#fff;border-radius:5px}
.menu-item-212 a:hover{background-color:#44c5dc;}

/* ELEMENTOR A LA CON => Le bricolage des widgets en page d'accueil */

/* Le widget de la grande image page d'accueil ; texte / logo pioneers / img background */

.elementor-element-ee02e9e,.elementor-element-19c891c,.elementor-element-34169fd{
	min-height:100vh;
	}
.elementor-element-34169fd .elementor-row{  
	align-items: center;
	height: 100vh;
	}
.elementor-element-fd0940a p{
	color:#fff;
	display:block;
	}
.elementor-element-3032369{
	display:flex;
	align-items:center;
	}
#text_intro{
	align-items:center; 
	}
	
/* FOOTER MOCHE */

.selfer-footer{background-color:#000 !important;color:#fff !important;}
.ts-footer-scroll{background-color:#44c5dc !important;}

@media screen and (max-width: 1003px) {
	.site-logo{display:none;}
}
@media screen and (max-width: 768px) {
	.navbar{background-color:rgba(0, 0, 0, .7) !important;}
}
@media only screen and (min-width: 768px) {
.mainmenu > li > a {
    padding-right: 0.7rem !important;
    padding-left: 0.7rem !important;
}
}

.pll-parent-menu-item {
    top: -0.35em;
}

}