/* --------------------------------------------------------------
# WordPress Default Gallery
-------------------------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	margin-left: -10px;
	margin-right: -10px;
}
.gallery-item {
	float: left;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-bottom: 30px;
	padding: 0 10px;
	@media only screen and (max-width: 560px) {
		max-width: 100% !important;	
		img {
			width: 100%;
		}
	}
	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}
.gallery-caption {
	display: block;
}
.widget .gallery-item {
	margin-bottom: 20px;
}
/* --------------------------------------------------------------
# Post-gallery One
-------------------------------------------------------------- */
%gallery-essential {
	.owl-controls {
		margin: 0;
		padding: 0;
	}
	.owl-controls .owl-nav div {
		display: block !important;
	   	position: absolute;
	   	background: $color__white;
	   	width: 40px;
	   	height: 40px;
	   	text-align: center;
	   	line-height: 37px;
	   	top: 50%;
	   	font-size: 25px;
	   	margin: auto;
		@include prefixed(border-radius, 2px);
		@include prefixed(transform, translate(0, -50%));
	}
	.owl-controls .owl-nav .owl-prev {
		left: 10px;
	}
	.owl-controls .owl-nav .owl-next {
		right: 10px;
	}
}
.gallery-one {
	.item {
		text-align: center;
		img {
			margin: auto;
			height: auto;
			width: 100%;
			display: block;
			vertical-align: middle;
		}
	}
	@extend %gallery-essential;
}

.gallery-heading {
	.gallery-title {
		font-size: 36px;
		font-weight:bold;
		margin-bottom: 20px;
	}
   
}
.gallery-image-content {
	position:relative;
	transition: all 300ms ease-out;	
	img {
		width:100%;
	}
	.overlay-background {
		transition: opacity 0.5s ease-in-out 0s;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
		background-color: rgba(23, 23, 23, 0.52);
		bottom: 0;
		right: 0;
		text-align: center;
		opacity:0;
		a {
			width: 100%;
			height: 100%;
			display: block;
			i { 
				position:absolute;
				top:40%;
				transform:translateX(-50%);
				font-size:45px;
				color: #fff;
			}
			
		}
		.video-popup {
			i { 
				top:30%;
			}
			span {
				position: absolute;
				top: 50%;
				transform: translateY(50% 50%);
				transform: translateX(-50%);
				font-size: 20px;
				font-weight:bold;
			}
		}
	}
	&:hover {
		.overlay-background {
			opacity:1;
			width:100%;
		}
	}
}

.photo-gallery-area {
	padding:20px 0 60px;
}




